    /**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/
    /*
Menu
*/

    .cuerpoMenu {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
    }

    .cuerpoMenu .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu ul li {
        float: left;
        text-align: justify;
        padding: 1% 50px !important;
    }
.cuerpoMenu.cuerpoPapagayo ul li {
        float: left;
        text-align: justify;
        padding: 1% 100px !important;
    }

    .cuerpoMenu ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }

    .cuerpoMenu-2 {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
    }

    .cuerpoMen-2 .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-2 ul li {
        float: left;
        text-align: center;
        padding: 1% 170px;
    }

    .cuerpoMenu-2 ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }

    .cuerpoMenu-2>ul>.ui-tabs-active {
        background: white;
    }

    .cuerpoMenu-2>ul>.ui-tabs-active a {
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-56 {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
        padding: 0 !important;
    }

    .cuerpoMen-56 .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-56 ul li {
        float: left;
        text-align: center;
        padding: 1% 170px;
    }

    .cuerpoMenu-56 ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }

    .cuerpoMenu-56>ul>.ui-tabs-active {
        background: white;
    }

    .cuerpoMenu-56>ul>.ui-tabs-active a {
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-4 {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
        padding: 0 !important;
    }

    .cuerpoMenu-4 ul li {
        float: left;
        text-align: center;
        padding: 1% 100px;
    }

    .cuerpoMenu-4 ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }

    .cuerpoMenu-5 {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
        padding: 0 !important;
    }

    .cuerpoMenu-5 ul li {
        float: left;
        text-align: center;
        padding: 1% 68px;
    }

    .cuerpoMenu-5 ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }

    .cuerpoMenu-QSomos {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
        padding: 0 !important;
    }

    .cuerpoMenu-QSomos .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-QSomos ul li {
        float: left;
        text-align: center;
        padding: 1% 80px;
    }

    .cuerpoMenu-QSomos ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }

    .cuerpoMenu-QSomos>ul>.ui-tabs-active {
        background: white;
    }

    .cuerpoMenu-QSomos>ul>.ui-tabs-active a {
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-NResponsable {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
        padding: 0 !important;
    }

    .cuerpoMenu-NResponsable .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-NResponsable ul li {
        float: left;
        text-align: center;
        padding: 1% 120px;
    }

    .cuerpoMenu-NResponsable ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }

    .cuerpoMenu-NResponsable>ul>.ui-tabs-active {
        background: white;
    }

    .cuerpoMenu-NResponsable>ul>.ui-tabs-active a {
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-CursoPymes {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
        padding: 0 !important;
    }

    .cuerpoMenu-CursoPymes .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-CursoPymes ul li {
        float: left;
        text-align: center;
        padding: 1% 585px;
    }

    .cuerpoMenu-CursoPymes ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }



    .cuerpoMenuQuienesSomosPapagayo {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
        padding: 0 !important;
    }

    .cuerpoMenuQuienesSomosPapagayo .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenuQuienesSomosPapagayo ul li {
        float: left;
        text-align: center;
        padding: 1% 215px;
    }

    .cuerpoMenuQuienesSomosPapagayo ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }
    /*
Menu
*/
    /*
Menu Responsive 768px
*/

    @media all and (max-width: 768px) {
        .cuerpoMenu,
        .cuerpoFinanciera,
        .cuerpoPapagayo,
        .cuerpoPrensa,
        .cuerpoMenu-InternoReciclaje,
        .cuerpoMenu-Voluntariado,
        .cuerpoMenu-Patrocinio,
        .cuerpoMenu-PDatos,
        .cuerpoMenu-QSomos,
        .cuerpoMenu-NResponsable,
        .cuerpoMenu-CursoPymes,
        .cuerpoMenuQuienesSomosPapagayo,
        .cuerpoMenu-4 {
            display: none;
        }
        .nav-secondary,
        .cuerpoMenu-2 {
            display: none;
        }
        .cuerpoMenuResponsive {
            display: block !important;
        }
        .plegable-1>.site-second>.second-titulo {
            display: none;
        }
        .boton {
            top: 525px !important;
            left: 117px !important;
        }
    }
    /*
Menu Responsive 768px
*/
    /*
CuerpoPapagayo
*/

    .cuerpoPapagayo {
        padding: 0 !important;
    }

    .cuerpoPapagayo .item img {
        position: relative;
        top: 28%;
        left: 15%;
        width: auto !important;
        height: auto !important;
    }

    .cuerpoPapagayo .item .ImgInternoReciclaje {
        top: 23%;
        left: 7%;
        width: 39% !important;
        height: 57% !important;
    }

    .cuerpoPapagayo .itemi .reciclaje p {
        color: #00A0E9;
    }

    .cuerpoPapagayo .itemi .ImgInternoReciclaje {
        top: 23%;
        left: 51%;
        width: 39% !important;
        height: 57% !important;
    }

    .cuerpoPapagayo .itemi img {
        position: relative;
        top: 28%;
        left: 65%;
        width: auto !important;
        height: auto !important;
    }

    .cuerpoPapagayo>.item>div {
        background: rgba(255, 255, 255, 0.5);
        top: 40px;
        left: 50%;
        /* width: 40%; */
        width: 45%;
        height: auto;
        position: absolute;
        padding: 1.5em;
    }

    .cuerpoPapagayo .item {
        background-color: white;
        height: 40em;
        width: 100%;
    }

    .cuerpoPapagayo .itemi {
        background-color: rgb(0, 110, 193);
        height: 40em;
        width: 100%;
    }
    .cuerpoPapagayo>.itemi>div h3 {
        color: white;
        font-weight: bold;
        padding-left: 0px;
    }



    .cuerpoPapagayo>.item>div h3 {
    color: #00A0E9;
    font-weight: bold;
    padding-left: 0px;
}
    .cuerpoPapagayo>.item>div p {
        color: #00A0E9;
        /* font-size: 1.4em; */
        font-size: 16px;
        text-align: justify;
    }

    .cuerpoPapagayo>.item>div p>a {
        color: #00A0E9;
        font-weight: bold;
    }

    .cuerpoPapagayo>.itemi>div {
        background: rgba(255, 255, 255, 0.0);
        color: white;
        top: 40px;
        left: 5%;
        /* width: 40%; */
        width: 45%;
        height: auto;
        position: absolute;
        padding: 1.5em;
    }

    .cuerpoPapagayo>.itemi>div p {
        color: white;
        /* font-size: 1.4em; */
        font-size: 16px;
        text-align: justify;
    }

    .cuerpoPapagayo>.itemi>div p>a {
        color: white;
        font-weight: bold;
    }

    .cuerpoPapagayo>.item>div h2,
    h1,
    h3,
    h4,
    h5,
    h6 {
        color: #00A0E9;
        padding-left: 0px;
    }

    .cuerpoPapagayo>.itemi>div h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
        padding-left: 0px;
    }
    /*
Cuerpo Papagayo
*/
    /*
Cuerpo Prensa
*/

    .cuerpoPrensa {
        padding: 0 !important;
    }

    .cuerpoPrensa .item {
        background-color: white;
        width: 100%;
        padding: 0 !important;
    }

    .cuerpoPrensa .itemi {
        background-color: rgb(0, 110, 193);
        height: auto;
        width: 100%;
        padding: 0 !important;
    }
    /*
Cuerpo Prensa
*/
    /*
CuerpoPapagayo
*/

    .cuerpoFinanciera {
        padding: 0 !important;
    }

    .cuerpoFinanciera .item>.img-est {
        position: relative;
        top: 28%;
        left: -15%;
        float: right;
        width: auto !important;
        height: auto !important;
    }

    .cuerpoFinanciera .itemi>.img-est {
        position: relative;
        top: 28%;
        left: 12%;
        width: auto !important;
        height: auto !important;
    }

    .cuerpoFinanciera>.item>.ant-est {
        background: rgba(255, 255, 255, 0.5);
        top: 40px;
        left: 0%;
        width: 40%;
        height: auto;
        position: absolute;
        padding-left: 5%;
        padding-right: 2%;
        /*padding-top: 5%;*/
    }

    .cuerpoFinanciera .item {
        background-color: white;
        height: 40em;
        width: 100%;
    }

    .item>.ant-est>.est h2 {
        font-size: 2em;
        color: #006ec1;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        font-weight: bold;
        text-align: start;
        padding: 0px;
    }

    .item>.ant-est>.est button {
        border-radius: 4px;
        color: white;
        border: 0px solid transparent;
        background-color: #006ec1;
        font-family: "BBVA Web Light";
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 2%;
        padding-bottom: 2%;
        /* margin-left: 10%; */
        margin-left: 0%;
        margin-top: 10%;
    }

    .itemi>.ant-est>.est button {
        border-radius: 4px;
        border: 0px solid transparent;
        background-color: white;
        font-family: "BBVA Web Light";
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 2%;
        padding-bottom: 2%;
        /* margin-left: 10%; */
        float: right;
        margin-top: 10%;
    }

    .itemi>.ant-est>.est button>a {
        color: #006ec1 !important;
    }

    .itemi>.ant-est>.est h2 {
        font-size: 2em;
        color: white;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        font-weight: bold;
        /*margin-left: 10%;*/
        text-align: start;
        padding: 0px;
    }

    .cuerpoFinanciera .itemi {
        background-color: rgb(0, 110, 193);
        height: 40em;
        width: 100%;
    }

    .cuerpoFinanciera>.item>.ant-est p {
        color: gray;
        font-size: 1.17em;
        text-align: justify;
        font-weight: bold;
    }

    .cuerpoFinanciera>.item>.ant-est p>a {
        color: #00A0E9;
        font-weight: bold;
    }

    .cuerpoFinanciera>.itemi>.ant-est {
        background: rgba(255, 255, 255, 0.0);
        color: white;
        top: 40px;
        left: 50%;
        width: 40%;
        height: auto;
        position: absolute;
        padding-left: 5%;
        padding-right: 2%;
        /*padding-top: 5%;*/
    }

    .cuerpoFinanciera>.itemi>.ant-est p {
        color: white;
        font-size: 1.17em;
        text-align: justify;
        font-weight: bold;
    }

    .cuerpoFinanciera>.itemi>.ant-est p>a {
        color: white;
        font-weight: bold;
    }

    .cuerpoMenu-4>ul>.ui-tabs-active {
        background: white;
    }

    .cuerpoMenu-4>ul>.ui-tabs-active a {
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-PDatos>ul>.ui-tabs-active {
        color: #004DA8;
    }

    .cuerpoMenu-PDatos>ul>.ui-tabs-active a {
        color: white;
        font-weight: bold;
    }

    .navbar-nav-2>.ui-tabs-active a {
        background: #004481;
        color: white;
    }
    /*
Cuerpo Papagayo
*/
    /*
nav-secondary
*/

    .nav-secondary {
        position: fixed;
        top: 55%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 20px;
        z-index: 3;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }

    .nav-secondary.is-visible {
        visibility: visible;
        opacity: 1;
    }

    
    .nav-secondary>ul>li {
        width: 50px;
        height: 50px;
        text-align: center;
        background-color: #004DA8;
        border-radius: 50%;
        margin-bottom: 10px;
        padding: 20% !important;
        animation-name: blurOpcion;
        animation-duration: 0.25s;
        font-weight: bold;
        list-style: none;
        float: none !important;
    }

    .nav-secondary>ul>li>a>span {
        position: absolute;
        display: inline-block;
        background-color: #87a5c2;
        top: 0em;
        font-size: 15px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding: 0 39px 0 10px;
        right: 35px;
        vertical-align: middle;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 1;
        /* opacity: 0; */
        text-decoration: none;
        visibility: hidden;
        line-height: 30px;
        z-index: -1;
        white-space: nowrap;
        transition: opacity .3s, visibility .3s, -webkit-transform .3s;
        transition: transform .3s, opacity .3s, visibility .3s;
        transition: transform .3s, opacity .3s, visibility .3s, -webkit-transform .3s;
    }

    .nav-secondary .activo span,
    .nav-secondary a:hover span {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        /* opacity: 1; */
        opacity: 0;
        visibility: visible;
        background-color: #87a5c2;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        transition: opacity 1s ease-out 3s;
    }
    


    .nav-secondary>ul>li::before {
        content: "";
        width: 6px;
        height: calc(100% - 100px);
        background-color: #004DA8;
        position: absolute;
        right: 26px !important;
        top: 47px;
        z-index: -1;
    }
    
    .nav-secondary ul {
        margin: 0 6px 0 0 !important;
    }

    .nav-secondary a {
        position: relative;
        display: block;
        padding: 0 14px 0 10px;
        text-decoration: none;
        transition: background .3s;
    }

    .nav-secondary li {
        counter-increment: nums;
    }

    .nav-secondary a:after {
        content: ""counter(nums);
        position: relative;
        z-index: 2;
        transition: color .3s;
    }
    .itemshamburguesa{
            background-color: #49A8E6 !important;
    }
    /*
nav-secondary
*/

    .cuerpoMenuResponsive {
        display: none;
    }

    .cuerpoMenuResponsive .borde {
        border-bottom: solid 1px grey;
    }

    .cuerpoMenuResponsive .borde h2 {
        background-color: #f5f5f5;
        margin-left: 1em;
        margin-top: 0.3em;
        color: #094fa4;
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 1.8em;
        font-weight: bold;
        height: 0em;
    }

    .cuerpoMenuResponsive {
        background-color: #f5f5f5;
        width: 100%;
        height: auto;
        text-align: left;
        margin-left: 0px;
        border-top: solid 2px grey;
        padding: 0 !important;
    }

    .plegable {
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        border-top: solid 1px grey;
        margin-top: 0;
        -webkit-transition: max-height 500ms ease-out;
        -moz-transition: max-height 500ms ease-out;
        -o-transition: max-height 500ms ease-out;
        transition: max-height 500ms ease-out;
    }

    .plegable-1 {
        border-top: solid 1px grey;
        margin-top: 0px;
        background-color: #006ec1;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 500ms ease-out;
        -moz-transition: max-height 500ms ease-out;
        -o-transition: max-height 500ms ease-out;
        transition: max-height 500ms ease-out;
    }

    .cuerpoMenuResponsive .borde .plegable1 {
        border-top: solid 1px grey;
        margin-top: 0px;
        background-color: #006ec1;
    }

    .plegable.desplegado {
        max-height: 5000px;
        -webkit-transition: max-height 500ms ease-out;
        -moz-transition: max-height 500ms ease-out;
        -o-transition: max-height 500ms ease-out;
        transition: max-height 500ms ease-out;
    }

    .plegable-1.desplegado {
        max-height: 5000px;
        -webkit-transition: max-height 500ms ease-out;
        -moz-transition: max-height 500ms ease-out;
        -o-transition: max-height 500ms ease-out;
        transition: max-height 500ms ease-out;
    }

    .borde>.plegable-1 p {
        color: white;
        margin-left: 2em;
        margin-right: 2em;
        font-weight: bold;
    }

    .borde>.plegable-1 h2 {
        color: white;
        font-weight: bold;
        margin-bottom: 18%;
    }

    .borde>.plegable p {
        color: #000;
        margin-left: 2em;
        margin-right: 2em;
        font-weight: bold;
    }

    .borde>.plegable h2 {
        font-weight: bold;
        margin-bottom: 18%;
    }

    .plegable>.bot-plega,
    .plegable-1>.bot-plega {
        margin-bottom: 20px;
    }

    .plegable>.bot-plega>a {
        color: #326cb2 !important;
        font-size: 20px;
        padding: 0 0 0 27px;
    }

    .plegable-1>.bot-plega>a {
        font-size: 20px;
        padding: 0 0 0 27px;
    }

    .cuerpoMenuResponsive .borde>h2 span {
        display: block;
        float: right;
        margin-right: 1.5em;
        margin-top: 0.3em;
    }
    /*
Modal Windows
*/

    .overlay {
        display: none;
        position: absolute;
        top: 398%;
        left: 0;
        width: 100%;
        height: 205%;
        background: #000;
        z-index: 1;
        opacity: .75;
        -moz-opacity: 0.75;
        filter: alpha(opacity=75);
    }

    #light2 {
        display: none;
        position: absolute;
        top: 430%;
        left: 25%;
        width: 50%;
        height: 58%;
        padding: 16px;
        background: #fff;
        color: #333;
        z-index: 1002;
    }

    .HeaderGanadores .TituloGanadores h3 {
        margin-top: 0%;
        font-size: 2em;
        color: #004481;
    }

    .HeaderGanadores .BotonGanadores {
        top: 5px;
        left: 36px;
    }

    .HeaderGanadores .BotonGanadores button {
        border-radius: 20px 20px 20px 20px;
        background-color: white;
        border: 1px solid #004481;
        padding: 2px 20px 2px 20px;
        color: #004481;
        font-weight: bold;
        font-size: 11px;
        height: 34px;
    }

    .HeaderGanadores .BotonGanadores button:hover {
        background-color: #004481;
        color: white;
    }

    .HeaderGanadores .BotonGanadores button:focus {
        background: #004481 !important;
        color: white !important;
    }

    .modal-2 hr {
        margin-top: -12px;
        border: 1px solid #004481;
    }

    .modal-2 {
        display: none;
        position: absolute;
        top: 440%;
        left: 25%;
        width: 49%;
        height: 41.5%;
        padding: 16px;
        background: #fff;
        color: #333;
        z-index: 1002;
        overflow: auto;
    }

    .modal1 {
        display: none;
        position: absolute;
        top: 430%;
        left: 75%;
        width: 1.5%;
        border-radius: 0px 10px 10px 0px;
        height: 3.5%;
        background-color: white;
        background: #fff;
        color: #333;
        z-index: 1002;
    }

    .modal1 span {
        color: grey;
        cursor: hand;
        margin-left: 3px;
        margin-top: 2px;
    }

    .modal-2::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: white;
    }

    .modal-2::-webkit-scrollbar {
        width: 12px;
        right: -100px;
        background-color: white;
    }

    .modal-2::-webkit-scrollbar-thumb {
        border: width border-style color black;
        border-radius: 50px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: grey;
    }

    .cuerpoPapagayo .item .est button {
        text-align: left;
        border-radius: 4px;
        border: 0px solid transparent;
        background-color: #006ec1;
        font-family: "BBVA Web Light";
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 3%;
        float: right;
    }

    .cuerpoPapagayo .item .est ul {
        margin-left: 15px;
        padding-left: 0px;
    }

    .cuerpoPapagayo .item .est ul li {
        font-size: 16px
    }

    .cuerpoPapagayo .itemi .est button {
        text-align: left;
        border-radius: 4px;
        border: 0px solid transparent;
        background-color: white;
        font-family: "BBVA Web Light";
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 3%;
    }

    .cuerpoPapagayo .itemi .est ul {
        margin-left: 15px;
        padding-left: 0px;
    }

    .cuerpoPapagayo .itemi .est ul li {
        font-size: 16px
    }

    .cuerpoPapagayo .itemi .est button a {
        color: #004481 !important;
        font-size: 20px;
        font-weight: bold;
    }

    .cuerpoPapagayo .item .est a {
        color: #00A0E9;
        /* font-size: 1.3em; */
        font-size: 16px;
    }

    .cuerpoPapagayo .item .est li {
        color: #00A0E9;
    }

    .cuerpoPapagayo .item .est ul {
        color: #00A0E9;
    }

    .cuerpoPapagayo .item .est button a {
        color: white !important;
        font-weight: bold;
        font-size: 20px;
    }

    .cerrar {
        display: none;
    }

    @media all and (max-width: 768px) {
        .hid {
            display: none;
        }
        .overlay {
            top: 0%;
        }
        #light2 {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            padding: 17px;
            background: #fff;
            color: #333;
            z-index: 1002;
        }
        .modal-2 {
            display: none;
            position: absolute;
            top: 166px;
            left: -2%;
            width: 102%;
            padding: 16px;
            background: #fff;
            color: #333;
            z-index: 1002;
            overflow: auto;
        }
        .HeaderGanadores .TituloGanadores h3 {
            text-align: center;
        }
        .HeaderGanadores .TituloGanadores h3 {
            margin-top: 2%;
            font-size: 2em;
            color: #004481;
        }
        .modal1 {
            display: none !important;
        }
        .HeaderGanadores .TituloGanadores a {
            display: inline-flex;
            font-size: 1em;
            float: right;
            color: black !important;
        }
        .HeaderGanadores .TituloGanadores hr {
            margin-top: -3px;
            border: 1px solid #004481;
            margin-right: -19px;
            margin-left: -22px;
        }
        .HeaderGanadores .BotonGanadores {
            top: -6px;
            left: -5px;
        }
        .HeaderGanadores .BotonGanadores button {
            margin-bottom: 1%;
            margin-left: 0%;
            height: 37px;
            width: 124px;
            font-size: 9px;
        }
        .borde>.plegable h2 {
            /*margin-bottom: 30%;*/
            background-color: #f5f5f5;
            /*margin-left: 0;*/
            margin-top: 22px;
            color: #094fa4;
            font-size: 1.2em;
            font-weight: bold;
            height: 0em;
        }
        /*.cuerpoMenuResponsive .borde h2 {*/
        /*background-color: #f5f5f5;*/
        /*margin-left: 0; */
        /*margin-top: 0;*/
        /*color: #094fa4;*/
        /*font-size: 1.1em;*/
        /*font-weight: bold;*/
        /*margin-bottom: 1.8em;*/
        /*font-weight: bold;*/
        /*height: 0em;*/
        /*}*/
        #edu_ca>.borde .plegable h2 {
            color: #094fa4;
            text-align: center;
            margin-bottom: 15%;
        }
        #edu_ca>.borde .plegable-1 h2 {
            color: #094fa4;
            text-align: center;
            margin-bottom: 15%;
        }
        #edu_ca>.borde .plegable h3 {
            color: #094fa4;
            text-align: center;
            margin-right: 15%;
            font-weight: bold;
            margin-top: 20%;
        }
        #edu_ca>.borde .plegable-1 h3 {
            color: #094fa4;
            text-align: center;
            margin-right: 15%;
            font-weight: bold;
            margin-top: 15%;
        }
        #edu_ca>.borde .plegable p {
            color: #094fa4;
            text-align: center;
            margin-right: 7em;
        }
        #edu_ca>.borde .plegable-1 p {
            color: #094fa4;
            text-align: center;
            margin-right: 7em;
        }
    }

    @media all and (max-width: 330px) {
        #edu_ca>.borde .plegable-1 h3 {
            margin-right: 14% !important;
        }
        #edu_ca>.borde .plegable h3 {
            margin-right: 14% !important;
        }
        #edu_ca>.borde .plegable p {
            margin-right: 24% !important;
        }
        #edu_ca>.borde .plegable-1 p {
            margin-right: 24% !important;
        }
        .CajaBanner {
            background-color: white;
            height: 14em;
            display: block !important;
            top: -18px;
        }
        .CajaBanner img {
            padding: 5%;
            /*height: 95%;*/
        }
    }

    .CajaBanner {
        cursor: pointer;
        display: none;
    }
    /*@media all and (max-width: 380px) {
#edu_ca>.borde .plegable p {
margin-right: 10% !important;
font-size: 13px;
}
#edu_ca>.borde .plegable-1 p {
margin-right: 10% !important;
font-size: 13px;
}
}*/

    @media all and (max-width: 425px) {
        #edu_ca>.borde .plegable-1 h3 {
            margin-right: -3%;
            font-size: 20px;
        }
        #edu_ca>.borde .plegable h3 {
            margin-right: -3%;
            font-size: 20px;
        }
        #edu_ca>.borde .plegable p {
            margin-right: 6%;
            font-size: 12px;
        }
        #edu_ca>.borde .plegable-1 p {
            margin-right: 6%;
            font-size: 12px;
        }
    }

    .cuerpoFinanciera {
        background-color: #d7d8dc;
    }

    .cuerpoFinanciera .Titulo-Iconos {
        text-align: center;
        color: #094fa4;
    }

    .cuerpoFinanciera .Titulo-Iconos h2 {
        font-weight: bold;
    }

    .edui {
        /* height: 40em; */
        height: auto;
        width: 100%;
        background-color: white;
    }

    .edu {
        /* height: 40em; */
        height: auto;
        width: 100%;
    }

    #edu_ca>.borde .plegable h2 {
        color: #094fa4;
        text-align: center;
        margin-bottom: 15%;
    }

    #edu_ca>.borde .plegable-1 h2 {
        color: #094fa4;
        text-align: center;
        margin-bottom: 15%;
    }

    #edu_ca>.borde .plegable p {
        color: #094fa4;
        text-align: center;
    }

    #edu_ca>.borde .plegable-1 p {
        color: #094fa4;
        text-align: center;
    }
    /*          Educacion Financiera  Cursos      */

    .CajaContenido1 {
        background-color: white;
        margin-top: 6%;
        height: 425px;
        left: 60px;
        padding: 2%;
    }

    .CajaContenido2 {
        margin-top: 10%;
        left: 6%;
    }

    .CajaContenido2 img {
        height: 325px;
    }

    .CajaContenido1 h3 {
        color: #49a8e6;
        font-size: 28px;
        font-weight: bold;
    }

    .CajaContenido1 p {
        color: gray;
        margin-top: 5%;
        font-size: 16px;
    }

    .CajaContenido3 {
        background-color: lightgray;
        margin-top: 8%;
        height: 340px;
        left: 4%;
    }

    .CajaContenido3 h3 {
        color: #49a8e6;
        font-weight: bold;
        text-align: center;
    }

    .CajaContenido3 h4 {
        color: #49a8e6;
        font-weight: bold;
        text-align: center;
    }

    .CajaContenido4 {
        background-color: white;
        margin-top: 4%;
        height: 457px;
        left: 4%;
    }

    .CajaContenido4>div>div>form {
        margin-top: 3%;
        margin-left: -32%;
    }

    .CajaContenido4 h3 {
        color: #49a8e6;
        font-weight: bold;
        text-align: center;
    }

    .BotonFormulario {
        padding-left: 5.5% !important;
        padding-right: 16% !important;
        height: 39px;
        margin-top: 7%;
        margin-left: -17%;
        text-align: center !important;
        font-size: 18px !important;
        width: 15%;
        background-color: #006dbd !important;
        color: white !important;
    }

    .DInstitucion {
        width: 62%;
        margin-left: 23%;
    }

    .DPersonales {
        width: 62%;
        margin-left: 23%;
    }

    .Tlfn {
        margin-left: 178px;
        width: 62%;
    }

    .Curso1 {
        margin-left: 178px;
        width: 62%;
        height: 29px;
        color: black;
    }

    .Correo1 {
        width: 62%;
        margin-left: 23%;
    }

    .CajaContenido5 {
        margin-top: 1.3%;
    }

    .CajaContenido5 img {
        height: 345px;
    }

    .CajaContenido6 {
        left: -1%;
        top: 5%;
    }

    .boton {
        position: absolute;
        top: 1840px;
        left: 315px;
    }
    /*Fecha de la Entrada*/

    .entry-meta {
        display: none;
    }
    /*        Contenido de las Entradas        */

    .NotaPrensa {
        background-color: #d7d8dc;
    }

    .NotaPrensa h2 {
        text-align: center;
        color: #49a8e6;
        font-weight: bold;
    }
    /*      CSS Pagina Articulos-Nota      */

    .Cuerpo-Articulos p {
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 3%;
        font-size: 15px;
        text-align: justify;
    }

    .Cuerpo-Articulos ul li {
        /* padding-left: 10%;
        padding-right: 10%; */
        margin-top: 3%;
        font-size: 15px;
        text-align: justify;
    }

    .Cuerpo-Articulos ul {
        padding-left: 8%;
        padding-right: 10%;
    }

    .Cuerpo-Articulos ol {
        padding-left: 8%;
        padding-right: 10%;
    }

    .Cuerpo-Articulos ol li {
        margin-top: 3%;
        font-size: 15px;
        text-align: justify;
    }

    .Cuerpo-Articulos h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .Cuerpo-Articulos p>a {
        color: black;
    }

    .Cuerpo-Articulos p strong a {
        color: black;
    }

    .tag-etiquetas a {
        color: black !important;
        font-size: 16px !important;
        margin-right: 1%;
        background-color: lightgray;
        padding: 5px;
    }

    .tag-etiquetas {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 3%;
        padding-left: 6%;
        padding-right: 6%
    }

    .tag-etiquetas .CompartirPageBoton a {
        background-color: white;
    }

    .tag-etiquetas .CompartirPageBoton {
        text-align: right;
        right: 34px;
        padding-right: 2%;
    }

    #iconocompartir1::before {
        font-size: 2em;
    }

    #iconocompartir2::before {
        font-size: 2em;
    }

    #iconocompartir3::before {
        font-size: 2em;
    }

    .tag-etiquetas .EtiquetasPageArticulos {
        text-align: -webkit-right;
    }

    .CompartirPageArticulos {
        padding-left: 6%;
        padding-right: 6%;
        margin-bottom: -5%;
    }

    .CompartirPageArticulos p {
        text-align: right;
        text-align: right;
    }

    .EtiquetasPageArticulos {
        margin-top: 1%;
    }
    /*Template Formacion para PYMES*/

    .cuerpoPymes1 {
        /*height: 45em;*/
        height: 50em;
        width: 100%;
        background-color: #006ec1;
    }

    .cuerpoPymes2 {
        /*height: 35em;*/
        height: 45em;
        padding-top: 3%;
        width: 100%;
        background-color: white;
    }

    .CursoPymes .CursoPymesTexto {
        padding: 44px;
        padding-top: 15px;
    }

    .CursoPymes .CursoPymesTexto button {
        border-radius: 4px;
        color: white;
        border: 0px solid transparent;
        background-color: #006ec1;
        font-family: "BBVA Web Light";
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-top: 5%;
    }

    .CursoPymes .CursoPymesImagen {
        padding: 50px;
        padding-left: 0px;
        padding-top: 15px;
    }
    /* .RecuadroInfografia2 img {
  height: 30em;
  width: 65em;
}

.RecuadroInfografia img {
  height: 30em;
  width: 31em;
} */

    .cuerpoPymes1 .Bloqueinf {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
    }

    .BloqueTextoInfo {
        background-color: lightgray;
        height: 4em;
    }

    .BloqueTextoInfo p {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 1em;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .enlacevermas {
        margin-top: 30px;
        margin-bottom: 9px !important;
    }

    .enlacevermas a {
        color: white !important;
    }

    .cuerpoPymes1 h2 {
        color: white !important;
    }

    .RecuadroInfografia:hover {
        border-color: #26779C;
        /*-webkit-box-shadow: 0 4px 0px #333;*/
        -moz-box-shadow: 0 4px 0px #333;
        /*box-shadow: 0 4px 0px #333;*/
    }

    .RecuadroInfografia:hover {
        top: -5px;
    }

    .RecuadroInfografia2:hover {
        border-color: #26779C;
        /*-webkit-box-shadow: 0 4px 0px #333;*/
        -moz-box-shadow: 0 4px 0px #333;
        /*box-shadow: 0 4px 0px #333;*/
    }

    .RecuadroInfografia2:hover {
        top: -5px;
    }

    .CursoPymes p {
        color: gray;
        font-size: 1.17em;
        text-align: justify;
        font-weight: bold;
    }
    /*Curso PYMES Formato Nuevo*/

    .cuerpoCursoPymes .edu {
        background-color: rgb(0, 110, 193);
        height: 40em;
    }

    .cuerpoCursoPymes .edui {
        height: 40em;
    }

    .cuerpoCursoPymes .edui .CursoPymes {
        background-color: white;
        padding-top: 60px;
    }

    .cuerpoCursoPymes .edu .CursoPymes {
        background-color: rgb(0, 110, 193);
    }

    .cuerpoCursoPymes .Titulo-Iconos h2 {
        margin-bottom: 0px;
    }

    .cuerpoCursoPymes .edu .Titulo-Iconos h2 {
        color: white;
        padding-top: 35px !important;
    }

    .cuerpoCursoPymes .edu .Bloqueinf {
        background-color: rgb(0, 110, 193);
        padding-top: 20px;
        margin-bottom: -10px;
    }

    .cuerpoCursoPymes .edu .Bloqueinf .enlacevermas a {
        color: white !important;
    }

    .cuerpoCursoPymes .edui .Bloqueinf .enlacevermas a {
        color: #006ec1 !important;
        font-weight: bold;
    }

    .cuerpoCursoPymes .edu .Bloqueinf .enlacevermas .saber-mas {
        color: #006ec1;
        background: white;
    }

    .cuerpoCursoPymes .edui .Bloqueinf {
        margin-top: 20px;
    }

    .cuerpoCursoPymes .edu .site-noticias-t {
        background-color: rgb(0, 110, 193);
        padding-top: 20px;
        top: 0px;
    }

    .cuerpoCursoPymes .edu .site-noticias-t .site-three-saber {
        margin-bottom: 35px
    }

    .cuerpoCursoPymes .edu .site-noticias-t .site-three-saber .saber-mas {
        color: #006ec1;
        background: white;
    }

    .cuerpoCursoPymes .edu .site-noticias-t .site-three-saber a {
        color: white !important;
    }

    .cuerpoCursoPymes .edui .site-noticias-t {
        background: white;
        padding-top: 20px;
        top: 0px;
    }

    .cuerpoCursoPymes .edui .site-noticias-t .site-three-saber {
        margin-bottom: 35px;
    }

    .cuerpoCursoPymes .edui .site-noticias-blue {
        background: white;
        padding-top: 20px;
        top: 0px;
    }

    .cuerpoCursoPymes .edui .site-noticias-blue .box-primary-f .w3-card-s {
        background-color: rgb(0, 110, 193);
    }

    .cuerpoCursoPymes .edui .site-noticias-blue .box-primary-f .w3-card-s .w3-container-f h3 {
        color: white;
    }

    .cuerpoCursoPymes .edui .site-noticias-blue .site-four-saber .saber-mas-f {
        background: #006ec1;
        color: white;
    }

    .cuerpoCursoPymes .edui .site-noticias-blue .site-four-saber a {
        color: #006ec1 !important;
    }

    .cuerpoCursoPymes .edui .site-noticias-blue .site-four-saber {
        margin-bottom: 68px;
    }

    .cuerpoCursoPymes .edu .site-noticias-blue {
        padding-top: 20px;
        top: 0px;
        margin-bottom: 20px;
    }

    .cuerpoCursoPymes .edu .site-noticias-blue .site-four-saber {
        margin-bottom: 50px;
    }

    .cuerpoCursoPymes .edui .Bloqueinf .enlacevermas {
        margin-bottom: 40px !important;
    }

    .cuerpoCursoPymes .edu .Bloqueinf .enlacevermas {
        margin-bottom: 40px !important;
    }

    .CursoPymes .CursoPymesTexto h3 {
        color: #094fa4;
        padding-left: 0px;
        padding-right: 10px;
        font-weight: bold;
    }
    /*    Cursos Financiera     */

    .cuerpoCursoFinanciera .edui {
        height: 40em;
        width: 100%;
        background-color: white;
    }

    .cuerpoCursoFinanciera .edu {
        height: 40em;
        width: 100%;
    }

    .cuerpoCursoFinanciera .edu .cuerpoCursos-1>div {
        background-color: white;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 12%;
        height: 31em;
    }

    .cuerpoCursoFinanciera .edu .cuerpoCursos-1>div h3 {
        padding: 5%;
        color: #49a8e6;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .cuerpoCursoFinanciera .edu .cuerpoCursos-1>div p {
        padding-left: 5%;
        padding-right: 5%;
        color: gray;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }

    .cuerpoCursoFinanciera .edu .cuerpoCursos-1img>div img {
        margin-top: 12%;
        background-color: white;
        width: 88%;
        height: 27em;
    }

    .cuerpoCursoFinanciera .edui .cuerpoCursos-2 {
        background-color: #d7d8dc;
        height: 21em;
        left: 4%;
        margin-top: 5%;
        padding-left: 6%;
        padding-right: 5%;
    }

    .cuerpoCursoFinanciera .edui .cuerpoCursos-2 h3 {
        color: #49a8e6;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .cuerpoCursoFinanciera .edui .cuerpoCursos-2 p {
        text-align: center;
        color: white;
    }

    .cuerpoCursoFinanciera .edui .cuerpoCursos-2 .cuerpoCursos-21 {
        margin-bottom: 1%;
    }

    .cuerpoCursoFinanciera .edu .cuerpoCursos-3 {
        padding-left: 4%;
        padding-right: 4%;
        background-color: white;
        margin-top: 4%;
        left: 4%;
        height: 32em;
    }

    .cuerpoCursoFinanciera .edu .cuerpoCursos-3 h3 {
        color: #49a8e6;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .BtnFormulario {
        background-color: #006dbd !important;
        color: white !important;
    }

    .cuerpoCursoFinanciera .edu .cuerpoCursos-32 img {
        padding-top: 2%;
        margin-left: -22%;
    }

    .cuerpoFinanciera>.edui .Titulo-Iconos h2 {
        padding-top: 1%;
    }

    .trivia {
        background: white;
        height: 450px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .ahorro {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .trivia h3 {
        color: #004DA8;
    }

    .trivia-title {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .trivia-content {
        margin-top: 30px;
        height: 300px;
        color: black;
    }

    .BannerPapagayo {
        padding: 0px !important;
    }

    .BannerPapagayo hr {
        margin: 0px;
        border-top: 2px solid #006ec1;
    }
    /* ///////////////   MENU P. Interno Reciclaje  ////////////////// */

    .cuerpoMenu-InternoReciclaje {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
    }

    .cuerpoMenu-InternoReciclaje .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-InternoReciclaje ul li {
        float: left;
        text-align: center;
        padding: 1% 185px !important;
    }

    .cuerpoMenu-InternoReciclaje ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }
    /* ///////////////   MENU P. Voluntariado Corporativo  ////////////////// */

    .cuerpoMenu-Voluntariado {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
    }

    .cuerpoMenu-Voluntariado .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-Voluntariado ul li {
        float: left;
        text-align: center;
        padding: 1% 170px !important;
    }

    .cuerpoMenu-Voluntariado ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }

    .cuerpoMenu-Patrocinio {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
    }

    .cuerpoMenu-Patrocinio .activo {
        background-color: #FFF;
        color: #004DA8;
        font-weight: bold;
    }

    .cuerpoMenu-Patrocinio ul li {
        float: left;
        text-align: center;
        padding: 1% 118px !important;
    }

    .cuerpoMenu-Patrocinio ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }
    /* //////////////   AJUSTES A FORMACION PARA PYMES  ////////////// */
    /* .cuerpoFinanciera .videos-2v .site-noticias-t .site-three-saber .saber-mas {
  background: white;
  color: #006ec1;
}

.cuerpoFinanciera .videos-2v .site-noticias-t .site-three-saber a {
  color: white !important;
}

.cuerpoFinanciera .videos-2v .site-noticias-t .noti-caja .caja-three .caja-t-texto a h2 {
  color: black !important;
}

.cuerpoFinanciera .videos-2v .Bloqueinf .enlacevermas a {
  color: white !important;
}

.cuerpoFinanciera .cuerpoPymes2 .site-noticias-blue {
  background-color: white;
}

.cuerpoFinanciera .cuerpoPymes2 .box-primary-f .w3-card-s {
  background: #006ec1;
}

.cuerpoFinanciera .cuerpoPymes2 .box-primary-f .w3-card-s .w3-container-f h3 {
  color: white;
}

.cuerpoFinanciera .cuerpoPymes2 .site-noticias-blue .site-four-saber .saber-mas-f {
  color: white;
  background: #006ec1
}

.cuerpoFinanciera .cuerpoPymes2 .site-noticias-blue .site-four-saber a {
  color: #006ec1 !important;
}

.cuerpoFinanciera .cuerpoPymes2 .RecuadroInfografia2 img {
  width: 64em;
}

.cuerpoFinanciera .cuerpoPymes2 .RecuadroInfografia img {
  width: 31em;
}

.cuerpoFinanciera .videos-2v .Bloqueinf .RecuadroInfografia2 img {
  width: 61em;
}

.cuerpoFinanciera .videos-2v .Bloqueinf .RecuadroInfografia img {
  width: 30em;
} */
    /* //////////////////// Menu Proteccion de Datos - Topes de Cuerpo Proteccion Datos ///////////////////// */

    .cuerpoMenu-PDatos {
        background-color: #004DA8;
        color: #FFF;
        text-align: center;
        padding: 0 !important;
    }

    .cuerpoMenu-PDatos ul li {
        float: left;
        text-align: center;
        padding: 1% 500px;
    }

    .cuerpoMenu-PDatos ul {
        list-style: none;
        margin: 0 10px 0 10px;
    }

    .cuerpoFinanciera .edui .Titulo-Iconos h2 {
        padding-top: 35px;
    }

    .cuerpoFinanciera .edu .Titulo-Iconos h2 {
        padding-top: 20px;
    }

    .cuerpoFinanciera .edu {
        padding-bottom: 25px;
    }

    .cuerpoFinanciera .edui {
        padding-bottom: 40px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .cuerpoMenu-5 ul li {
            padding: 1% 3%;
        }
    }
    /* AJUSTANDO CUERPO FINANCIERA - PROG. BECAS, PATROCINIO, VOLUNTARIADO, EMPRENDIMIENTO, REDUCIENDO FRANJAS */

    .cuerpoFinancieraGlobal .item {
        height: 32em;
    }

    .cuerpoFinancieraGlobal .item>.img-est {
        top: 22%;
    }

    .cuerpoFinancieraGlobal .itemi {
        height: 32em;
    }

    .cuerpoFinancieraGlobal .itemi>.img-est {
        top: 22%;
    }

    .cuerpoFinancieraGlobal>.itemi#data6 {
        height: 43em;
    }

    .cuerpoVoluntariadoC .item {
        height: 32em;
    }

    .cuerpoVoluntariadoC .item img {
        top: 22%;
    }

    .cuerpoVoluntariadoC .itemi {
        height: 32em;
    }

    .cuerpoVoluntariadoC .itemi img {
        top: 22%;
    }

    .cuerpoBecasGlobal .item {
        height: 32em;
    }

    .cuerpoBecasGlobal .itemi {
        height: 32em;
    }

    .cuerpoBecasGlobal .item img {
        top: 22% !important;
    }

    .cuerpoBecasGlobal .itemi img {
        top: 22% !important;
    }

    .cuerpoPatrocinioGlobal .item {
        height: 32em;
    }

    .cuerpoPatrocinioGlobal .itemi {
        height: 32em;
    }

    .cuerpoPatrocinioGlobal .item img {
        top: 22% !important;
    }

    .cuerpoPatrocinioGlobal .itemi img {
        top: 22% !important;
    }

    .cuerpoEmprendimientoGlobal .item {
        height: 32em;
    }

    .cuerpoEmprendimientoGlobal .itemi {
        height: 32em;
    }

    .cuerpoEmprendimientoGlobal .item img {
        top: 22% !important;
    }

    .cuerpoEmprendimientoGlobal .itemi img {
        top: 22% !important;
    }
    /*      AJUSTANDO RESOLUCION 1280PX  Franjas, Menu Cintillo       */

    @media screen and (max-width: 1280px) {
        .cuerpoMenu ul li {
            padding: 1% 50px !important;
        }
        .cuerpoPapagayo>.item>div p {
            font-size: 16px !important;
        }
        .cuerpoPapagayo .item .est ul li {
            font-size: 15px !important;
        }
        .cuerpoPapagayo>.itemi>div p {
            font-size: 15px !important;
        }
        .cuerpoPapagayo .itemi .est ul li {
            font-size: 15px !important;
        }
    }
    /*      AJUSTANDO RESOLUCION 1280PX  BOTON DE VER GALERIA SALA DE PRENSA y MENU      */

    @media screen and (max-width: 1280px) {
        #botonhid {
            top: 1910px;
            left: 282px;
        }
        .cuerpoMenu-2 ul li {
            padding: 1% 150px;
        }
    }
    /*      AJUSTANDO RESOLUCION 1280PX  MENUS CURSO FINANCIERA, VOLUNTARIADO, PATROCINIO
            PROG. INTERNO,
        */

    @media screen and (max-width: 1280px) {
        .cuerpoMenu-5 ul li {
            padding: 1% 50px;
        }
        .cuerpoMenu-Voluntariado ul li {
            padding: 1% 140px !important;
        }
        .cuerpoMenu-Patrocinio ul li {
            padding: 1% 85px !important;
        }
        .cuerpoMenu-InternoReciclaje ul li {
            padding: 1% 150px !important;
        }
        .cuerpoMenuEmprendimiento ul li {
            padding: 1% 35px !important;
        }
    }
